<%- include('./partials/header') %>


<body>

    <%- include('./partials/headerNavBar') %>
    <link rel="stylesheet" href="/css/cadastro.css">

    <main>

        <section id="section2">
            <div class="body">
                <form action="/user/cadastro" method="post" enctype="multipart/form-data">
                    <h1>Criar Conta</h1>
                    
                    <div class="preview">
                        <img src="" alt="" id="file-preview">
                    </div>
                    <div class="file">
                        <label for="avatar">Carregar Foto</label>
                       
                        <input type="file" id="avatar" name="avatar" accept="image/*" onchange="showPreview(event);">
                    </div>
                    
                    

                    <script type="text/javascript">
                        function showPreview(event) {
                            if(event.target.files.length > 0){
                                var src = URL.createObjectURL(event.target.files[0]);
                                var preview = document.getElementById("file-preview");
                                preview.src = src;
                                preview.style.display = "block";
                            }

                        }

                    </script>

                

                    <div class="input">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="<%= locals.oldData ? oldData.email : null %>" required >
                    </div>
                    <div class="input">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha" placeholder="Deve possuir mais de 3 caracteres" value="<%= locals.oldData ? oldData.senha : null %>" required>
                    </div>
                    <div class="input">
                        <label for="confirmarsenha">Confirmar Senha</label>
                        <input type="password" id="confirmarsenha" name="confirmarsenha" value="<%= locals.oldData ? oldData.confirmarsenha : null %>" required>
                    </div>
                    <div class="input">
                        <label for="cpf/cnpj">CPF/CNPJ</label>
                        <input type="text" id="cpfcnpj" name="cpfcnpj" value="<%= locals.oldData ? oldData.cpfcnpj : null %>" required>
                    </div>
                    <div class="input">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome"  value="<%= locals.oldData ? oldData.nome : null %>" required>
                        <% if(locals.errors && errors.nome) {%>
                        <div class="mensagem-de-erro"> <%= errors.nome.msg %> </div>
                        <% } %>
                    </div>
                    <div class="input">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" id="sobrenome" name="sobrenome" value="<%= locals.oldData ? oldData.sobrenome : null %>" required>
                    </div>
                    <div class="input">
                        <label for="birthday">Data de Nascimento</label>
                        <input type="date" id="birthday" name="birthday" value="<%= locals.oldData ? oldData.birthday : null %>" required>
                    </div>

                    <div class="input">
                        <label for="phone">Telefone</label>
                        <input type="tel" id="phone" name="phone" placeholder="(11)999999999" pattern="([0-9]{2})[0-9]{9}" value="<%= locals.oldData ? oldData.phone : null %>" required>
                    </div>
                    <div class="input">
                        <div>
                            <input type="checkbox" name="receberemail" id="receberinformacoes-email" value="email">
                            <label for="receberinformacoes-email">Quero receber promoções e informações por
                                email</label>
                        </div>
                        <div>
                            <input type="checkbox" name="receberem" id="receberinformacoes-sms" value="sms/whatsapp">
                            <label for="receberinformacoes-sms">Quero receber promoçoes e informações por
                                sms/whatsapp</label>
                        </div>


                        <% if(typeof errors !== 'undefined') { %>
                        <ul>

                            <% for (let error in errors) { %>
                                <li><%= errors[error].msg %> </li>
                                <% } %>

                        </ul>
                        <% } %>
                    </div>

            

                    <button type="submit" >Enviar</button>
                </form>
            </div>
        </section>

    </main>
</body>
<%- include('./partials/footer') %>