<%- include('./partials/header') %>

<body>
  <%- include('./partials/headerNavBar') %>
  <link rel="stylesheet" href="/css/cadastro.css" />
  <script defer type="module" src="/js/updateFoto.js"></script>

  <main>
    <section id="section2">
      <div class="body">
        <form
          action="/user/delete/<%= deleteUser.id %>?_method=DELETE"
          method="post">

          <h1>Olá  <%= deleteUser.nome %>  Tem Certeza que deseja Deletar a sua Conta?</h1>
          <br>
    <p> <button class="botaoDeletar" type="submit">Deletar o Cadastro</button>

      <a class="voltar" href="/user/areacliente">Voltar</a>
        </form>
      </div>
    </section>
  </main>
</body>
<%- include('./partials/footer') %>
